{% extends 'ecg_editor/main_layout.html' %}\

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Changed in version 3.4: The strict parameter was removed. HTTP 0.9-style “Simple Responses” are no longer
            supported.</p>
        <button class="btn btn-warning">На страницу про нас</button>
        <p>{{ title }}</p>
        {% for el in values %}
            {% if el == 'hello' or el == 'some'%}
                <p>{{ el | upper }}</p>

            {% endif %}
        {% endfor %}



        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}