{% extends 'ecg_editor/dashboard.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Как меня использовать</h1>
        </div>

        <div class="features">
            <p>An HTTPConnection instance represents one transaction with an HTTP server. It should be instantiated
                passing it a host and optional port number.</p>
            <button class="btn btn-danger">Используй меня</button>
        </div>
{% endblock %}