body {
    background: #f1dcc9;
}

aside{
    float: left;
    background: #6c2d2c;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: aliceblue;
    box-shadow: black;
}

aside img {
    width: 40px;
    height: 100px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top:  50px;
    font-size: 28px;
}

aside ul {list-style: none}

aside ul li {
    color: #eb5959;
    display: block;
    margin-top: 20px;
    transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.10);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px}

main .features p {max-width: 400px; margin: 20px auto}